<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Brain Tumour</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.CSS') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.CSS') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='responsive.CSS') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='owl.carousel.min.CSS') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='jquery.mCustomScrollbar.min.CSS') }}">
      
		<link rel="stylesheet" href="{{ url_for('static', filename='style.CSS') }}">

      <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
      <!-- style css -->
      <!-- <link rel="stylesheet" href="css/style.css"> -->
      <!-- Responsive-->
      <!-- <link rel="stylesheet" href="css/responsive.css"> -->
      <!-- <link rel="stylesheet" href="css/owl.carousel.min.css"> -->
      <!-- fevicon -->
      <link rel="icon" href="{{ url_for('static', filename='fevicon.png') }}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
       <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <style>
       .column {
  float: left;
  width: 50%;
  padding: 30px;
  height: 300px; /* Should be removed. Only for demonstration */
}
   </style>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <!-- <div class="loader"><img src="images/loading.gif" alt="#" /></div> -->
         <div class="loader"><img src="{{ url_for('static', filename='loading.gif') }}" alt="#" /></div>

      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="header_to d_none">
               <div class="container">
                  <div class="row">
                     <div class="col-md-6 col-sm-6">
                        <ul class="lan">
                           <li> Brain Tumour Detection </li>
                        </ul>
                     </div>
                     
                  </div>
               </div>
            </div>

         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
 
      <!-- contact  section -->
      <div id="contact" class="contact ">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                           
               </div>
            </div>
            <div class="row">
               <div class="col-md-8 offset-md-2">
                <form id="post_form" class="contact_form" action="{{ url_for('login') }}" method="post">
                    <div class="col-md-12">

                     <div class="column">

                        <div class="col-md-12">
                           <input class="send_btn" type="submit" value="FAST CASH" style="width:250px">

                        </div>
                        <div class="col-md-12">
                            <input class="send_btn" type="submit" value="FUND TRANSFER" style="width:250px">
 
                         </div>
                         <div class="col-md-12">
                            <input class="send_btn" type="submit" value="PIN CHANGE" style="width:250px">
 
                         </div>
                         <div class="col-md-12">
                            <input class="send_btn" type="submit" value="OTHER SERVICES" style="width:250px">
 
                         </div>
                        </div>

                        <div class="column">

                            <div class="col-md-12">
                               <input class="send_btn" type="submit" value="DEPOSIT" style="width:250px">
    
                            </div>
                            <div class="col-md-12">
                                <input class="send_btn" type="submit" value="WITHDRAWAL" style="width:250px">
     
                             </div>
                             <div class="col-md-12">
                                <input class="send_btn" type="submit" value="BALANCE ENQUIRY" style="width:250px">
     
                             </div>
                             <div class="col-md-12">
                                <input class="send_btn" type="submit" value="MINI STATEMENT" style="width:250px">
     
                             </div>
                            </div>
                        </div>

                  </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact  section -->
      <!--  footer -->
      <footer >
         <div class="footer">
            <div class="container">
               <div class="row">
                 
                  
                 
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <!-- <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>

      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script> -->

      <script src="{{url_for('static', filename='jquery.min.JS')}}"></script>
      <script src="{{url_for('static', filename='popper.min.JS')}}"></script>
      <script src="{{url_for('static', filename='bootstrap.bundle.min.JS')}}"></script>
      <script src="{{url_for('static', filename='jquery-3.0.0.min.JS')}}"></script>
      <script src="{{url_for('static', filename='owl.carousel.min.JS')}}"></script>

      <script src="{{url_for('static', filename='jquery.mCustomScrollbar.concat.min.JS')}}"></script>
      <script src="{{url_for('static', filename='custom.JS')}}"></script>


   </body>
</html>
